<!--The content below is only a placeholder and can be replaced.-->
<div class="container py-4">

  <div class="row py-4">
    <div class="col-md-12 text-center">
      <h1>Welcome to RBC Pet Store!</h1>
    </div>
  </div>

  <div class="row py-4">
    <div class="col-md-6 offset-md-3 d-flex justify-content-center">
      <button (click)="openAddPet()" id="new-pet-btn" class="btn btn-primary">Add new pet</button>
    </div>
  </div>

  <div class="row py-4">
    <div class="col-md-6 offset-md-3">
      <app-pet-list [pets]="pets" [selectedPet]="selectedPet"
                    (onPetSelect)="selectPet($event)" (onPetDelete)="deletePet($event)">
      </app-pet-list>
    </div>
  </div>

  <div class="row py-4" [ngSwitch]="petAction">
    <div class="col-md-6 offset-md-3" *ngSwitchCase="'add'">
      <app-pet-add (onCancel)="closeAddPet()" (onSubmit)="addPet($event)"></app-pet-add>
    </div>
  </div>

</div>
