<!--The content below is only a placeholder and can be replaced.-->
<div class="container py-4">

  <div class="row py-4">
    <div class="col-md-12 text-center">
      <h2>{{ title }}!</h2>
    </div>
  </div>

  <div class="row py-4">
    <div class="col-md-6 offset-md-3 d-flex justify-content-center">
      <button (click)="addNewPet()" id="new-pet-btn" class="btn btn-primary">Add new pet</button>
    </div>
  </div>

  <div class="row py-4">
    <div class="col-md-6 offset-md-3">
      <app-pets></app-pets>
    </div>
  </div>

  <div class="row py-4" *ngIf="!isAdd">
    <div class="col-md-6 offset-md-3">
      <app-pet-detail></app-pet-detail>
    </div>
  </div>

  <div class="row py-4" *ngIf="isAdd">
    <div class="col-md-6 offset-md-3">
      <app-pet-add></app-pet-add>
    </div>
  </div>

</div>
