<form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="name">Name</label>
    </div>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="status">Status</label>
    </div>
    <select class="form-select" id="status" name="status" [(ngModel)]="model.status">
      <option selected>Choose...</option>
      <option *ngFor="let s of statuses" [ngValue]="s">{{s}}</option>
    </select>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-2" (click)="cancel()">Cancel</button>
      <button type="reset" class="btn btn-secondary me-2" (click)="reset()">Reset</button>
      <button type="submit" class="btn btn-primary" (click)="submit()">Add</button>
    </div>
  </div>
</form>
